<div class="social">
	<h4>
    {% if site.github %}
	  <a href="{{ site.github }}"><i class="bi bi-github"></i></a>
    {% endif %}
    {% if site.email %}
	  <a href="mailto:{{ site.email}}"><i class="bi bi-envelope"></i></a>
    {% endif %}

    {% if site.mastodon %}
	  <a href="{{ site.mastodon }}"><i class="bi bi-mastodon"></i></a>
    {% endif %}
    {% if site.linkedin %}
	  <a href="{{ site.linkedin }}"><i class="bi bi-linkedin"></i></a>
    {% endif %}
    {% if site.stackoverflow %}
	  <a href="{{ site.stackoverflow }}"><i class="bi bi-stack-overflow"></i></a>
    {% endif %}
	</h4>
</div>
